matplotlib>=3.3
numpy>=1.23.5
opencv-python>=4.1.1
pillow>=10.3.0
psutil~=6.1.0
PyYAML>=5.3.1
requests>=2.32.2
scipy>=1.4.1
thop~=0.1.1-2209072238
torch>=1.8.0  # see https://pytorch.org/get-started/locally (recommended)
torchvision>=0.9.0
tqdm>=4.66.3
ultralytics>=8.2.34  # https://ultralytics.com
pandas>=1.1.4
seaborn>=0.11.0
rich~=13.9.4
Flask~=3.0.3
ultralytics-thop~=2.0.9
Flask-Cors~=5.0.0
Werkzeug~=3.0.4
tensorflow~=2.18.0
python-socketio~=5.12.0
yolov5~=7.0.14
Flask-SocketIO~=5.5.1